body {
  background: dodgerblue;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.board {
  background: blue;
  border: 5px solid black;
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tile {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.tile:before {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}
.start-tile {
  background: white;
}
.start-tile:before {
  content: '*';
  color: black;
  text-align: center;
  font-size: 20pt;
}
.double-letter {
  background: black;
}
.double-letter:before {
  content: '2L';
}
.triple-letter {
  background: green;
}
.triple-letter:before {
  content: '3L'
}
.double-word {
  background: red;
}
.double-word:before {
  content: '2W'
}
.triple-word {
  background: orange;
}
.triple-word:before {
  content: '3W'
}
.player {
  background: green;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}
.player-header {
  display: flex;
  justify-content: space-between;
}
.player-name {
  align-self: flex-start;
  text-align: center;
}
.racks {
  display: flex;
  flex-direction: row;
}
.rack {
  align-self: center;
  background: brown;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.letter-piece {
  /*position: absolute;
  top: 0;
  left: 0;
  z-index: 1;*/
  background: salmon;
  width: 35px;
  height: 35px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
