.letter-piece
  background lightcyan
  width 35px
  height 35px
  border 1px solid black
  border-radius 2px
  display flex
  align-items center
  justify-content center
  z-index 1
  font-size 16pt
  font-weight bold
  position relative
  cursor default


.letter-piece:after
  position absolute
  font-size 10pt
  bottom 2px
  right 2px

.score-1:after
  content '1'

.score-2:after
  content '2'

.score-3:after
  content '3'

.score-4:after
  content '4'

.score-5:after
  content '5'

.score-8:after
  content '8'

.score-10:after
  content '10'
